@media screen and (max-width: 1366px) {
    #home, #project, #about, #contact{
        padding: 0 8rem;
    }

    footer .footer-container{
        padding: 0 8rem;
        color: var(--putih);
        margin: auto;
        padding-top: 36px;
        padding-bottom: 36px;
    }
    
    #home{
        padding-top: 180px;
    }
}

@media screen and (max-width: 1024px) {
    #home, #project, #about, #contact{
        padding: 0 4rem;
    }

    footer .footer-container{
        padding: 0 4rem;
        color: var(--putih);
        margin: auto;
        padding-top: 36px;
        padding-bottom: 36px;
    }
    
    #home{
        padding-top: 180px;
    }

    header nav{
        display: none;
    }

    header .hamburger{
        display: inline-block;
    }
}

@media screen and (max-width: 960px) {
    #home{
        padding: 0 4rem;
        padding-top: 180px;
        margin: auto;
        display: flex;
        line-height: 4rem;
        color: var(--putih);
        box-sizing: border-box;
        flex-direction: column-reverse;
    }

    #home .home-right{
        margin: auto;
    }

    #home .home-left .home-contact .email span{
        display: none;
    }

    #home .home-left .home-contact .email i{
        margin: 0;
    }

    #home .home-left .home-contact .email{
        padding: 6px 12px;
    }

    #about .about-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr); 
        gap: 48px;
        margin-top: 72px;
    }

    #contact .contact-container{
        flex-direction: column;
    }

    #contact .contact-container .socmed{
        border: none;
        border-top: 1px solid var(--putih);
        padding-left: 0px;
        padding-top: 36px;
    }
    
    #contact .contact-container .extra{
        border: none;
        border-top: 1px solid var(--putih);
        padding-left: 0px;
        padding-top: 36px;
    }

    .email, .socmed{
        padding-bottom: 36px;
    }

    #home .home-left .head1{
        line-height: 1.5rem;
        font-weight: 700;
        font-size: 24px;
        background: linear-gradient(to right, #f3f3f3, #0000CD);
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
    }
    
    #home .home-left .head2{
        line-height: 3rem;
        font-weight: 700;
        font-size: 32px;
    }
    
    #home .home-left .home-p{
        font-size: 12px;
        line-height: normal;
        padding-top: 1px;
    }

    #project .project-container .project .project-link{
        padding-top: 12px;
        font-size: 12px;
        color: var(--putih);
        display: inline-flex;
        gap: 36px;
    }
    
    #project .project-container .project .project-link .project-icon{
        display: inline-flex;
        align-items: center;
        color: rgba(243, 243, 243, 0.5);
        cursor: pointer;
    }
    
    #project .project-container .project .project-link .left{
        padding: 12px 24px;
        box-shadow: inset 0 0 0 2px var(--biruGelap);
        color: var(--putih);
        border-radius: 12px;
        transition: box-shadow 0.3s, background-color 0.3s;
    }
    
    #project .project-container .project .project-link .left:hover{
        box-shadow: none;
        background-color: var(--biruGelap);
    }
    
    #project .project-container .project .project-link .right{
        padding: 12px 24px;
        box-shadow: inset 0 0 0 2px rgba(0, 0, 139, 0);
        border-radius: 12px;
        transition: box-shadow 0.3s, background-color 0.3s, color 0.3s;
    }
    
    #project .project-container .project .project-link .right:hover{
        padding: 12px 24px;
        box-shadow: inset 0 0 0 2px rgba(0, 0, 139, 1);
        color: var(--putih);
    }
    
    #project .project-container .project .project-link .project-icon i{
        display: none;
    }

    #project .project-container .project .project-tittle{
        font-size: 16px;
    }

    footer .footer-container .footer-head{
        font-size: 42px;
    }

    footer .footer-container .footer-p{
        font-size: 14px;
    }

    #about .about-p{
        font-size: 14px;
    }
}

@media screen and (max-width: 580px){
    #home, #project, #about, #contact{
        padding: 0 2rem;
    }

    footer .footer-container{
        padding: 0 2rem;
        color: var(--putih);
        margin: auto;
        padding-top: 36px;
        padding-bottom: 36px;
    }

    .bg-head{
        height: 45px;
        width: 100%;
        background: linear-gradient( rgba(0, 0, 205, 1), rgba(34, 34, 34, 0));
        position: relative;
    }
    
    .bg-head .head{
        position: absolute;
        font-size: 28px;
        top: -24px;
        margin-left: 34px;
        color: var(--putih);
    }

    #about .about-p{
        font-size: 12px;
    }

    #about .about-container .about-card .about-head{
        font-size: 18px;
        top: -1.75rem;
    }

    #home{
        padding-top: 10rem;
    }

    #home .home-right{
        position: relative;
        margin: auto;
        transform: scale(0.8);
    }

    #about .about-container .about-card .about-logo{
        font-size: 24px;
        position: absolute;
        padding: 6px 12px;
        background-color: var(--biruGelap);
        top: -24px;
        left: -21px;
        border-radius: 12px;
    }

    header .logo img{
        width: 30px;
    }
    
    header .logo .logo-name{
        font-size: 12px;
    }

    header .hamburger{
        font-size: 1rem;
    }
}



